.accordion-block {
  background-color: #fff;
  border: 1px solid #fff;
  margin-bottom: .5em;
  transition: all .3s;
}

.accordion-block.open {
  border: 1px solid #7ac142;
  transition: all .3s;
}

.accordion-toggle {
  background-image: url('/public/img/icon-plus.png');
  background-position: 98% center;
  background-repeat: no-repeat;
  display: block;
  font-size: 1.25em;
  margin: 0;
  padding: 1em;
}

.accordion-toggle:link,
.accordion-toggle:visited {
  color: #222;
  text-decoration: none;
  transition: all .3s;
}

.accordion-toggle:hover,
.accordion-toggle:focus {
  background-color: #7ac142;
  background-image: url('/public/img/icon-plus-white.png');
  color: #fff;
}

.accordion-block.open .accordion-toggle {
  background-image: url('/public/img/icon-minus.png');
  font-weight: 700;
  transition: all .3s
}

.accordion-block.open .accordion-toggle:hover,
.accordion-block.open .accordion-toggle:focus {
  background-image: url('/public/img/icon-minus-white.png');
}


.accordion-content {
  background-color: #fff;
  border-top: 1px solid #eee;
  display: block;
  height: auto;
  margin: 0;
  padding: .5em 0 1em;
  transition: all .3s;
}

.accordion-content li {
  margin-bottom: .5em;
}

.accordion-content.closed {
  display: none;
}

.accordion-content.opening,
.accordion-content.closing {
  height: 0;
  padding: 0;
  transition: all .3s;
}

.accordion-content.opening *,
.accordion-content.closing * {
  visibility: hidden;
}

.accordion-content.open {
  height: auto;
  padding: .5em 0 1em;
  transition: all .3s;
}

