<div class="content">
  <div class="footer push">
    <p><strong>We&rsquo;re dedicated to designing better health information.</strong></p>
    <p>Check us out at <a href="http://communicatehealth.com/">communicatehealth.com</a></p>
  </div>
</div>

</main>
</div>

<script src="{{ "/examples/js/vendor/jquery.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/vendor/throttle-debounce.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/vendor/jquery-ui.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/vendor/jquery.validate.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/vendor/additional-methods.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/vendor/namespacing.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/vendor/accessibility-helpers.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/vendor/dialog.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/vendor/date-picker.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/animated-hide.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/off-canvas.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/accordion.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/dropdown.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/infographic.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/slideshow.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/tabs.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/rich-select.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/auto-height-iframe.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/examples/js/forms.js" | prepend: site.baseurl}}"></script>

</body>
</html>
