<div class="content">
  <div class="footer push">
    <p><strong>We&rsquo;re dedicated to designing better health information.</strong></p>
    <p>Check us out at <a href="http://communicatehealth.com/">communicatehealth.com</a></p>
  </div>
</div>

</main>
</div>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/throttle-debounce.js"></script>
<script src="/js/lib/animated-hide.js"></script>
<script src="/js/lib/off-canvas.js"></script>
<script src="/js/lib/accordion.js"></script>
<script src="/js/lib/dropdown.js"></script>
<script src="/js/lib/infographic.js"></script>
<script src="/js/lib/slideshow.js"></script>
<script src="/js/lib/tabs.js"></script>
<script src="/js/lib/rich-select.js"></script>
<script src="/js/lib/auto-height-iframe.js"></script>

</body>
</html>
