<ul class="skip-links">
  <li><a href="#top">Skip to content</a></li>
  <li><a href="#navigation">Skip to navigation</a></li>
</ul>

<div class="mobile-menu">
  <div class="site-name"><a href="{{ "/" | prepend: site.baseurl }}">Site title</a></div>
  <div class="site-menu"><button class="btn" aria-controls="sidebar-block" aria-expanded="false">Menu</button></div>
</div>

<div class="sidebar closed" id="sidebar-block" aria-hidden="false">
  <div class="header">
    <div class="site-name"><a href="{{ "/" | prepend: site.baseurl }}">Site title</a></div>
  </div>

  <div class="nav" role="navigation">
    <ul id="navigation">
      <li><a href="#">Section 1</a></li>
      <li><a href="#">Section 2</a></li>
      <li><a href="#">Section 3</a></li>
      <li><a href="#">Section 4</a></li>
    </ul>
  </div>
</div>
