.ch-dropdown,
.ch-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ch-dropdown {
  background: #008198;
  color: #fff;
  float: left;
  margin: 1.25em 0;
}

.ch-dropdown ul {
  background: #002329;
  left: -9999px;
  min-width: 13.5em;
  opacity: 0;
  position: absolute;
  top: 3.25em;
}

.ch-dropdown li {
  float: left;
  position: relative;
}

.ch-dropdown li > a {
  border-right: 1px solid #fff;
  color: #fff;
  float: left;
  font-size: 1.25em;
  padding: .7em 2em;
  text-decoration: none;
}

.ch-dropdown li:last-child > a {
  border-right: 0;
}

.ch-dropdown li > a:hover,
.ch-dropdown li > a:focus,
.ch-dropdown li:focus > a,
.ch-dropdown li:hover > a {
  background: #002329;
  outline: 0;
}

.ch-dropdown li:hover ul,
.ch-dropdown li:focus ul,
ul.ch-show-menu {
  left: 0;
  opacity: 0.99;
}

.ch-dropdown ul li {
  float: none;
  position: static;
}

.ch-dropdown ul a {
  border: 0;
  border-bottom: 1px solid #40656a;
  color: #fff;
  display: block;
  float: none;
  font-size: 1em;
}

.ch-dropdown ul a:hover,
.ch-dropdown ul a:focus {
  background: #008198;
  color: #fff;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
