/* Presentation only, not needed for accessibility */
.ch-form {
  background-color: #ffffff;
  border: 5px solid #008198;
  padding: 2em;
  width: 100%;
  max-width: 40em;
}

.ch-form h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.ch-form fieldset .ch-form-item {
  margin: 1em 0;
  position: relative;
}

.ch-form fieldset fieldset .ch-form-item {
  margin: 0.5em 0;
}

.ch-form fieldset .ch-form-item.inline {
  display: inline-block;
  width: 39%;
  margin-right: 1%;
}

.ch-form fieldset .ch-form-item.inline.zip {
  width: 18%;
  margin-right: 0;
}

.ch-form input,
.ch-form select,
.ch-form textarea {
    border: 1px solid #d9d9d9;
    padding: 0.375em;
}

.ch-form input[type="text"],
.ch-form input[type="email"],
.ch-form textarea {
  width: 100%;
}

.ch-form input + label + input[type="text"] {
  width: auto;
}

.ch-form input[type="text"].datepicker,
.ch-form-item.zip input[type="text"] {
  width: 6.5em;
}

.ch-form label {
  font-weight: bold;
  margin-bottom: 0.25em;
  display: block;
}

.ch-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5em;
  position: relative;
}

.ch-form fieldset fieldset {
  margin-bottom: 1em;
}

.ch-form legend {
  font-weight: bold;
  margin: 1rem 0 0.25rem;
}

.ch-form legend.h3 {
  margin: 0;
  padding: 2rem 0 0.25rem;
  border-top: 1px dotted #d9d9d9;
  width: 100%;
}

.ch-form fieldset input + label {
  font-weight: normal;
}

.ch-form .multi-label {
  margin-top: 0;
}

.ch-form .multi-label td,
.ch-form .multi-label th {
  background-color: #ffffff;
  border: none;
  padding: 0 0.5em 0.5em 0;
  font-weight: normal;
}

.ch-form .multi-label td {
  text-align: center;
}

.ch-form .multi-label input[type=radio] + label {
  margin: 0;
  vertical-align: text-top;
}

.ch-form .btn,
.alert button {
  background-color: #008198;
  background-image: none;
  border: 1px solid #008198;
  border-radius: .25em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
  padding: .4em .75em;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
  vertical-align: middle;
  white-space: nowrap;
}

.ch-form .btn-secondary,
.alert button:last-of-type {
  background-color: #fff;
  color: #008198;
}

.ch-form .btn:hover,
.ch-form .btn:focus,
.alert button:hover,
.alert button:focus {
  background-color: #004e65;
  border-color: #004e65;
  color: #fff;
  transition: all .4s;
}

.ch-form abbr[title] {
 text-decoration: none;
}

.ch-form .alert-wrapper {
  position: relative;
}

.ch-form label + span {
  display: block;
  color: #666;
  font-size: 0.875em;
  padding-bottom: 0.5rem;
}

.ch-form input[type=checkbox], input[type=radio] {
  opacity: 0;
  position: absolute;
}

.ch-form input[type=checkbox] + label,
.ch-form input[type=checkbox] + label + label,
.ch-form input[type=radio] + label,
.ch-form input[type=radio] + label + label {
  padding-left: 30px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.ch-form input[type=checkbox]+label+label>span,
.ch-form input[type=checkbox]+label>span,
.ch-form input[type=radio]+label+label>span,
.ch-form input[type=radio]+label>span {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #d9d9d9;
  margin: 0 1em 0 0;
  display: inline-block;
  vertical-align: middle;
}

.ch-form input[type=radio]+label+label>span,
.ch-form input[type=radio]+label>span {
  border-radius: 14px;
}

.ch-form input[type=checkbox]:checked+label+label>span,
.ch-form input[type=checkbox]:checked+label>span,
.ch-form input[type=radio]:checked+label+label>span,
.ch-form input[type=radio]:checked+label>span {
  background: #008198;
  border-color: #1a5b8f;
}

.ch-form input[type=checkbox]:checked+label+label>span:after,
.ch-form input[type=checkbox]:checked+label>span:after,
.ch-form input[type=radio]:checked+label+label>span:after,
.ch-form input[type=radio]:checked+label>span:after {
  position: absolute;
  left: 2px;
  top: -2px;
  content: url(https://communicatehealth.github.io/ATSDRPrenatalAssessment/public/img/icon-check.png);
  display: block;
}

.ch-form .multi-label input[type=radio]:checked+label+label>span:after,
.ch-form .multi-label input[type=radio]:checked+label>span:after {
  top: -5px;
}

.ch-form input[type="radio"]:focus + label > span,
.ch-form input[type="checkbox"]:focus + label > span,
.ch-form  input[type="radio"]:focus + label + label > span,
.ch-form  input[type="checkbox"]:focus + label + label > span {
  box-shadow: 0 0 5px 2px rgba(39,147,199,1);
}

/* Form Validation Success */
.ch-form input.valid.show-valid {
  background-image: url('/examples/img/checkmark.png');
  background-repeat: no-repeat;
  background-position: center right 0.5em;
  padding-right: 1.75em;
}
.ch-form input.empty {
  background-image: none;
}

/* Form Validation Errors */
.ch-form input.error,
.ch-form select.error {
  background-image: url('/examples/img/error.png');
  background-repeat: no-repeat;
  background-position: center right 0.5em;
  background-color: #fcc;
}

.ch-form label.error {
  position: absolute;
  left: 1em;
  top: 1.75em;
  width: auto;
  font-weight: normal;
  text-align: left;
  background: #ffffff;
  padding: 0.25em 0.5em;
  border: 1px solid #d9d9d9;
  z-index: 1;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.ch-form label.error:before,
.ch-form label.error:after {
  content: '';
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 100%;
  left: 1.5em;
  margin-left: -10px;
}

.ch-form label.error:before {
  border-bottom: 10px solid #d9d9d9;
}

.ch-form label.error:after {
  border-bottom: 10px solid #fff;
  margin-bottom: -2px;
  z-index: 2;
}

@media screen and (max-width: 35.5em) {
  .ch-form fieldset .ch-form-item.inline {
    display: block;
    width: auto;
    margin-right: 0;
  }

  .ch-form fieldset .ch-form-item.inline.state {
    display: inline-block;
    width: 60%;
    margin-right: 1%;
    
  }

  .ch-form fieldset .ch-form-item.inline.zip {
    display: inline-block;
    width: 37.5%;
  }
}

/* https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css/ */
@media screen and (max-width: 29.75em) {
  .responsive-form {
    border: 0;
    display: table;
    max-width: 100%;
  }
  .responsive-form thead {
    display: none;
  }
  .responsive-form tr {
    margin-bottom: 1em;
    display: block;
  }
  .responsive-form tr.hidden-small {
    display: none;
  }
  .ch-form .multi-label.responsive-form th {
    font-weight: bold;
  }
  .ch-form .multi-label.responsive-form td  {
    display: block;
    text-align: left;
    position: relative;
  }
  .responsive-form td:last-child {
    border-bottom: 0;
  }
  .responsive-form td:after {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 30px;
  }
  .responsive-form label {
    width: 100%;
    height: 20px;
  }
  .ch-form {
    padding: 1.25em;
  }
}

@media screen and (max-width: 24.75em) {
  .ch-form fieldset .ch-form-item.inline.state {
    display: block;
    width: auto;
    margin-right: 0;
  }
  .ch-form fieldset .ch-form-item.inline.zip {
    display: block;
    width: inherit;
  }
}

/* jQuery datepicker */
.ui-datepicker {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  padding: 0.5em;
  display: none;
  
}

/* jQuery CSS */
/*! jQuery UI - v1.12.1 - 2017-09-08
* http://jqueryui.com
* Includes: core.css, autocomplete.css, menu.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
  z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
}
.ui-menu .ui-menu {
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  /* support: IE10, see #8844 */
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px .4em;
}
.ui-menu .ui-menu-divider {
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}

/* icon support */
.ui-menu-icons {
  position: relative;
}
.ui-menu-icons .ui-menu-item-wrapper {
  padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .2em;
  margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
  left: auto;
  right: 0;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
  z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
}
.ui-menu .ui-menu {
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  /* support: IE10, see #8844 */
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px .4em;
}
.ui-menu .ui-menu-divider {
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  background-color: #d9d9d9;
}

/* icon support */
.ui-menu-icons {
  position: relative;
}
.ui-menu-icons .ui-menu-item-wrapper {
  padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .2em;
  margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
  left: auto;
  right: 0;
}

/*! jQuery UI - v1.12.1 - 2017-09-08
* http://jqueryui.com
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important;pointer-events:none}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-autocomplete{position:absolute;top:0;left:0;cursor:default}.ui-menu{list-style:none;padding:0;margin:0;display:block;outline:0}.ui-menu .ui-menu{position:absolute}.ui-menu .ui-menu-item{margin:0;cursor:pointer;list-style-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")}.ui-menu .ui-menu-item-wrapper{position:relative;padding:3px 1em 3px .4em}.ui-menu .ui-menu-divider{margin:5px 0;height:0;font-size:0;line-height:0;border-width:1px 0 0 0}.ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin:-1px}.ui-menu-icons{position:relative}.ui-menu-icons .ui-menu-item-wrapper{padding-left:2em}.ui-menu .ui-icon{position:absolute;top:0;bottom:0;left:.2em;margin:auto 0}.ui-menu .ui-menu-icon{left:auto;right:0}

/* More jQuery datepicker */
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select:first-of-type {
  margin-right: 0.5em;
}

.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-widget-header .ui-icon {
    background-image: url('https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_444444_256x240.png');
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker th,
.ui-datepicker td {
  line-height: normal;
  text-align: right;
}
