.rich-select {
  background-color: #fff;
  margin: .5em 0;
  position: relative; }

.rich-select-toggle {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAwBAMAAADwTQfqAAAAFVBMVEX////9/f36+vr19fX39/fy8vLv7+8iVEUSAAAALklEQVQoz2MYBcMMCKIABgEUgCZLgKuEAghwXVAAOtcYBRDghqIAdG4aCkDzPQCnOijbQvaSSQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  display: block;
  font-size: 1.25em;
  padding: .75em 1em;
  text-decoration: none;
  transition: .3s all; }
  .rich-select-toggle:link, .rich-select-toggle:visited {
    color: #222; }
  .rich-select-toggle:hover {
    border-color: #073148;
    transition: .3s all; }
  .rich-select-toggle.expanded {
    border: 1px solid #073148;
    border-bottom: 0; }

.rich-select-toggle-arrow {
  float: right;
  font-family: Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif; }
  .expanded .rich-select-toggle-arrow {
    color: #ff8a00; }

.rich-select-list {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  max-height: 11em;
  overflow-y: auto;
  padding: .5em 0;
  position: absolute;
  transition: all .3s;
  z-index: 1; }
  .rich-select-list.ch-closed {
    display: none; }
  .rich-select-list.ch-closing, .rich-select-list.ch-opening {
    opacity: 0;
    transition: all .3s; }
  .rich-select-list.ch-open {
    border: 1px solid #073148;
    border-top: 0;
    opacity: 1;
    transition: all .3s; }

.rich-select-item {
  display: block;
  padding: .5em 1.25em; }
  .rich-select-item:link, .rich-select-item:visited {
    color: #222;
    text-decoration: none; }
  .rich-select-item:hover, .rich-select-item:focus {
    background-color: #1d4b7c;
    color: #fff; }

.rich-select-list-compact .rich-select-item {
  padding-bottom: .15em;
  padding-top: .15em; }
