.ch-content-slider-block {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  position: relative;
  margin-bottom: 1.5em;
}

.ch-content-slider-block .ch-limit {
  display: none;
}

.ch-content-slide {
  display: block;
  text-align: center;
  opacity: 1;
  transition: all .3s;
}

.ch-content-slide {
  display: none;
}

.ch-content-slide.ch-on {
  display: block;
  opacity: 1;
  transition: all .3s;
}

.ch-content-slide img {
  background-color: #fff;
  border: 3px solid #fff;
  max-height: 25em;
}

.ch-content-slider-caption {
  color: #000;
  min-height: 3.5em;
  margin-bottom: 0;
}

.btn {
  background-color: #008198;
  background-image: none;
  border: 1px solid #008198;
  border-radius: .25em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
  padding: .4em .75em;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover,
.btn:focus,
.btn-secondary:link:hover,
.btn-secondary:link:focus {
  background-color: #004e65;
  border-color: #004e65;
  color: #fff;
  transition: all .4s;
}

.btn:active {
  background-color: #001f3f;
  border-color: #001f3f;
  color: #fff;
  transition: all .4s;
}

.btn-secondary:link {
  background-color: #fff;
  color: #008198;
}

.t-center {
  text-align: center;
}
