.accordion-toggle {
  display: block;
  margin: 0;
  padding: 1em;

  &:hover,
  &:focus {
    background-color: #fff;
  }
}

.accordion-content {
  background-color: #eee;
  margin: 0;
  padding: 1em;

  &[aria-hidden=true] {
    display: none;
  }

  &[aria-hidden=false] {
    display: block;
  }
}

.accordion {
  background-color: #f9f9f9;
}
