.accordion-toggle {
  display: block;
  margin: 0;
  padding: 1em;

  &:hover,
  &:focus {
    background-color: #fff;
  }
}

.accordion-content {
  background-color: #eee;
  display: block;
  height: auto;
  margin: 0;
  opacity: 1;
  padding: 1em;
  transition: all .3s;

  &.closed {
    display: none;
  }

  &.opening,
  &.closing {
    height: 0;
    opacity: 0;
    padding: 0 1em;
    transition: all .3s;
  }

  &.open {
    height: auto;
    opacity: 1;
    padding: 1em;
    transition: all .3s;
  }
}

.accordion {
  background-color: #f9f9f9;
}
