// Base

// Viewport declarations
// http://trentwalton.com/2013/01/16/windows-phone-8-viewport-fix/
@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

// Box sizing
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
* {
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

// flexible images
// http://webdesignerwall.com/tutorials/5-useful-css-tricks-for-responsive-design
img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;

  .ie8 & {
    width: auto;
  }
}

.t-center { text-align: center; }

.closed {
  display: none;
  opacity: 0;
}

.closing {
  opacity: 1;
  transition: .2s all;
}

.opening {
  opacity: 0;
  transition: .2s all;
}

.open {
  opacity: 1;
  transition: .2s all;
}
