.dd-menu {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  font-size: 1.278em;

  a {
    background-color: #0074D9;
    color: #fff;
    text-decoration: none;
    padding: .45em 1em;
    display: block;
    border-bottom: none;

    &:hover, &:focus {
      text-decoration: none;
      background-color: #001f3f;
    }
  }
  li {
    display: none;
    list-style: none;

    &.active {
      background-color: #001f3f;
    }
  }


  a.subnav-toggle {
    width: 25%;
    float: right;
    margin-top: -2.39em;
    text-align: center;
    border-bottom: none;
  }

  .subnav {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
    display: none;
    text-align: left;
    min-width: 190px;

    li {
      border-top: 2px solid #0074D9;
    }

    li:last-child {
      border-bottom: 2px solid #0074D9;
    }

    a {
      white-space: nowrap;
      font-size: 0.83em;
      padding: 0.25em 2em;
      background: #001f3f;
      display: block;
    }
  }
}

.dd-menu.open li{
  display: block;
}

.dd-menu > li.active .subnav {
  display: block;
  width: 100%;
}

@media screen and (min-width: 40em) {


  .dd-menu {
    display: inline-block;
    position: inherit;

    li {
      position: relative;
      display: inline-block;

      &.active {
        background-color: #0074D9;
      }

      &:hover,
      a:focus ~ {

        .subnav {
          display: block;
        }
      }
    }

    a {
      font-size: 0.8517em;
      padding: 0.8517em 0.35em;

      &.current:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(73, 128, 26, 0);
        border-top-color: #0074D9;
        border-width: 14px;
        margin-left: -14px;
      }

      &.current:hover:after {
        border-top-color: #001f3f;
      }

      &.subnav-toggle{
        display: none;
      }
    }
    .subnav {
      background: #0074D9;
      position: absolute;
      padding-bottom: 0.35em;

      li {
        padding: 0 0.5em;
        border-left: 0.5em solid #0074D9;
        border-right: 0.5em solid #0074D9;
        display: block;

        &:hover {
          background: #001f3f;
        }
      }

      a{
        padding: 0.35em 0.5em;
        background: transparent;
      }
    }
  }
}

/* Media Queries
-------------------------------------------------- */
@media screen and (min-width: 50em) {

  .dd-menu {
    a {
      padding: 0.8517em 0.75em;
    }
  }
}

@media screen and (min-width: 57em) {

  .dd-menu {
    a {
      padding: 0.8517em 1em;
      font-size: 1em;
    }
  }
}
