.dd-menu {
  display: inline-block;
  font-size: 1.25em;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  position: inherit;

  a {
    background-color: #0074D9;
    border-bottom: none;
    color: #fff;
    display: block;
    padding: 1em;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: #001f3f;
      text-decoration: none;
    }
  }

  li {
    display: inline-block;
    list-style-type: none;
    position: relative;

    &.active {
      background-color: #0074D9;
    }

    &:hover,
    a:focus ~ {
      .subnav {
        display: block;
      }
    }
  }

  .subnav {
    background: #0074D9;
    display: none;
    margin-left: 0;
    margin-right: 0;
    min-width: 12em;
    padding: 0;
    position: absolute;
    text-align: left;
    z-index: 1;

    li {
      display: block;
      padding: 0;

      &:hover {
        background: #001f3f;
      }
    }

    a {
      background: transparent;
      font-size: 0.83em;
      display: block;
      padding: 0.35em 0.5em;
      white-space: nowrap;
    }
  }
}
