// Breakpoints
@mixin bp($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin bp-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin bp-bw($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

.skip-links {
  left: 0;
  padding-left: 1em;
  position: absolute;
  top: 0;

  li {
    list-style-type: none;
    z-index: 1;
  }

  a {
    left: -9999px;
    position: absolute;

    &:active,
    &:focus {
      background-color: #fff;
      display: block;
      left: 0;
      padding: .5em;
      position: fixed;
      z-index: 20;
    }
  }
}

$sidebar-switch-point:  60em; // 960px
$fixed-header-height:   3em; // 48px
$sidebar-width:         17.5em; // 280px

.mobile-menu {
  background-color: #ddd;
  height: $fixed-header-height;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 18;

  @include bp($sidebar-switch-point) {
    display: none;
  }

  .site-name {
    margin-left: .5em;
    margin-top: .15em;

    a {
      display: block;
      padding: .75em .5em;
    }
  }

  .site-menu {
    position: absolute;
    right: .5em;
    top: .35em;
  }
}

.sidebar {
  background-color: #fff;
  position: fixed;
  left: 0;
  width: $sidebar-width;
  transition: left .15s ease;
  z-index: 17;

  @include bp($sidebar-switch-point) {
    height: 100%;
  }

  &.closed {
    display: none;

    @include bp($sidebar-switch-point) {
      display: block;
    }
  }

  &.opening,
  &.closing {
    height: 0;
    opacity: 0;
    transition: all .3s;
  }

  &.open {
    height: auto;
    opacity: 1;
    transition: all .3s;
  }

  .site-name {
    padding: 1em;

    img {
      display: block;
      margin: 0 auto;
    }

    @include bp-max($sidebar-switch-point) {
      display: none;
    }
  }
}

.header {
  position: fixed;
  height: 4em;
  left: 0;
  top: $fixed-header-height;
  width: $sidebar-width;

  @include bp($sidebar-switch-point) {
    background-color: #ddd;
    top: 0;
  }

  .closed & {
    left: -$sidebar-width;
    transition: left .15s ease;

    @include bp($sidebar-switch-point) {
      left: 0;
    }
  }
}

.nav {
  background-color: #eee;
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: fixed;
  overflow: auto;
  top: $fixed-header-height;
  width: $sidebar-width;

  @include bp($sidebar-switch-point) {
    top: 4em;
  }

  .closed & {
    left: -$sidebar-width;
    transition: left .15s ease;

    @include bp($sidebar-switch-point) {
      left: 0;
    }
  }

  .ie9 & {
    box-sizing: content-box;
  }

  ul {
    display: block;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    &.closed {
      display: none;
    }
  }

  li {
    border-bottom: 1px solid #eee;
    position: relative;

    a {
      display: block;
      padding: .5em 1em;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: #fff;
      }
    }
  }
}

.overlay {
  background-color: rgba(255, 255, 255, .5);
  bottom: 0;
  height: 100%;
  left: $sidebar-width;
  position: fixed;
  right: 0;
  top: $fixed-header-height;
  transition: left .15s ease;
  width: 100%;
  z-index: 17;

  &.closed {
    display: none;
  }

  &.opening,
  &.closing {
    height: 0;
    opacity: 0;
    transition: all .3s;
  }

  &.open {
    height: auto;
    opacity: 1;
    transition: all .3s;
  }
}

.page {
  position: relative;
  margin-top: $fixed-header-height + 2;

  @include bp($sidebar-switch-point) {
    margin-left: $sidebar-width;
    margin-top: 0;
  }
}

.content {
  margin: 0 auto;
  max-width: 50em;
  padding: 1em;
}

