.content-slider-block {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1em;
  position: relative;
  margin-bottom: 1.5em;

  .limit {
    display: none;
  }
}

.content-slide {
  display: block;
  text-align: center;
  height: auto;
  opacity: 1;
  transition: all .3s;

  &.closed {
    display: none;
  }

  &.opening,
  &.closing {
    height: 0;
    opacity: 0;
    transition: all .3s;
  }

  &.open {
    height: auto;
    opacity: 1;
    transition: all .3s;
  }

  img {
    background-color: #fff;
    border: 3px solid #fff;
  }
}

.content-slider-caption {
  color: #000;
  min-height: 3.5em;
  margin-bottom: 0;
}


.btn {
  background-color: #fff;
  background-image: none;
  border: 1px solid #0074D9;
  border-radius: .25em;
  color: #0074D9;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
  padding: .4em .75em;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
  vertical-align: middle;
  white-space: nowrap;

  &:visited {
    color: #0074D9;
  }

  &:hover,
  &:focus {
    background-color: #001f3f;
    border-color: #001f3f;
    color: #fff;
    transition: all .4s;
  }

  &:active {
    background-color: #001f3f;
    border-color: #001f3f;
    color: #fff;
    transition: all .4s;
  }
}
