.nav,
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  background: #008198;
  color: #fff;
  float: left;
  margin: 1.25em 0;
}

.nav ul {
  background: #002329;
  left: -9999px;
  min-width: 13.5em;
  opacity: 0;
  position: absolute;
  top: 3.25em;
}

.nav li {
  float: left;
  position: relative;
}

.nav li > a {
  border-right: 1px solid #fff;
  color: #fff;
  float: left;
  font-size: 1.25em;
  padding: .7em 2em;
  text-decoration: none;
}

.nav li:last-child > a {
  border-right: 0;
}

.nav li > a:hover,
.nav li > a:focus,
.nav li:focus > a,
.nav li:hover > a {
  background: #002329;
  outline: 0;
}

.nav li:hover ul,
.nav li:focus ul,
ul.show-menu {
  left: 0;
  opacity: 0.99;
}

.nav ul li {
  float: none;
  position: static;
}

.nav ul a {
  border: 0;
  border-bottom: 1px solid #40656a;
  color: #fff;
  display: block;
  float: none;
  font-size: 1em;
}

.nav ul a:hover,
.nav ul a:focus {
  background: #008198;
  color: #fff;
}

/* General styling */
body {
  background-color: #f4f4f5;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  margin: 0 auto;
  max-width: 40em;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 1em;
  padding-bottom: .25em;
}
